.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__main-block {
		margin-top: 100px;
	}

	&__main-block-title {
		text-align: center;
	}

	&__main-block-select{
		margin-top: 20px;
		margin-bottom: 20px;
		width: 360px;

		&_min {
			width: 150px;
		}
	}

	&__selected-res {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 350px;
		margin-top: 20px;
	}
	&__selected-res-name {
		text-align: center;
		font-size: 14px;
		max-width: 200px;
	}


	&__selected-res-image {
		width: 35px;
		height: 35px;
		position: relative;
	}

	&__mobs-list {
		margin-top: 20px;
		width: 600px;
	}

	&__selectors-list {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
	}
}
